# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# Environment variables
.env
.env.*

# Databases
*.db
*.sqlite3

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
